#root {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.container{
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.canvasHolder{
  display: flex;
  flex-direction: column;
}

canvas{
  margin-top: 5%;
  border: 2px solid rgb(148, 181, 217);
  border-radius: 15px;
  background-color: white;
}